<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="header">
    <div class="nav">
        <h1>Let's Party!</h1>
        <div class="navbuttons">
            <a class="buttonLook menuButton" href="/home">home</a>
            <a class="buttonLook menuButton" href="/venuelist">venues</a>
            <a class="buttonLook menuButton" href="/about">about</a>
        </div>
    </div>
    <div class="freespaceforheader"></div>
</div>
</body>
</html>