<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/css/party.css" />
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
<div th:replace="fragments/headerfooter :: header">Hier komt de header</div>
<div class="row1">
    <div class="row1content">
        <h2>About</h2>
        <p>Dit gaat over de applicatie</p>
    </div>
</div>
<div th:replace="fragments/headerfooter :: footer">Hier komt de footer</div>
</body>
</html>