<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/css/party.css" />
<head>
    <meta charset="UTF-8">
    <title>artistdetails</title>
</head>
<body>
<div th:replace="fragments/headerfooter :: header">Hier komt de header</div>
<div class="row1">
    <div class="row1content">
        <div th:if="${prev!=null}" class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{'/artistdetails/' + ${prev}}">&lt;</a>
        </div>
        <div th:if="${next!=null}" class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{'/artistdetails/' + ${next}}">&gt;</a>
        </div>
        <div>
            <h2 th:if="${artist}" th:text="|artist: ${artist.artistName}|">venue: onbekend</h2>
            <p th:unless="${artist}">artist: onbekend</p>
        </div>
        <div th:if="${artist}">
            <div class="info">Info : </div>
            <div><a th:href="@{${artist.getLinkMoreInfo()}}" th:text="${artist.getLinkMoreInfo()}">klik hier</a></div><br>
            <div class="info">Genre : </div>
            <div><p th:text="${artist.genre}">0</p></div><br>
            <div class="info">Bio : </div>
            <div><p th:text="${artist.bio}">bio</p></div><br>
            <div class="info">Portfolio : </div>
            <div><p th:text="${artist.portfolio}">no</p></div><br>
        </div>
    </div>
</div>
<div th:replace="fragments/headerfooter :: footer">Hier komt de footer</div>
</body>
</html>