<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/css/party.css"/>
<head>
    <meta charset="UTF-8">
    <title>artistlist</title>
</head>
<body>
<div th:replace="fragments/headerfooter :: header">Hier komt de header</div>
<div>
    <div class="row1">
        <div class="row1content">
            <h1>Artists</h1>

            <span class="flex-box activeFilter" th:text="|${nrArtists} artists found|"></span>
            <div class="filters" th:if="${showFilter}">
                <form>
                    <div class="onefilter">
                        <input type="submit" value="search" class="buttonLook">
                    </div>
                    <h3>Zoekterm</h3>
                    <div class="onefilter">
                        <form>
                            <label for="Aname">Zoekterm:</label><br>
                            <input type="text" id="Aname" name="keyWord" th:text="${keyWord}">

                        </form>
                        <br>

                    </div>

                </form>
            </div>
            <div class="filters" th:unless="${showFilter}">
                <div class="verticalmargin">
                </div>
            </div>
            <div class="filters" th:if="${showFilter}">
                <div class="verticalmargin">
                    <a th:href="@{/artistlist}" class="buttonLook filterButton">-</a>
                </div>
            </div>
            <div class="filters" th:unless="${showFilter}">
                <div class="verticalmargin">
                    <a th:href="@{/artistlist/filter}" class="buttonLook filterButton">+</a>
                </div>
            </div>
            <div th:each="artist, status: ${artists}">
                <a class="buttonLook mediumButton" th:href="@{'/artistdetails/' + ${artist.id}}">
                    <span th:text="${artist.getArtistName()}">Naam venue</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/headerfooter :: footer">Hier komt de footer</div>
</body>
</html>