<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css" />
<body>
<div>
    <div class="nav">
        <h1>Let's Party!</h1>
        <div th:replace="fragments/header :: header">Hier komt de header</div>
    </div>
    <div class="freespaceforheader"></div>

    <div class="row1">
        <div class="row1content" >
            <div class="prevButtonDiv" th:if="${artist}" >
                <a class="buttonLook prevnextButton" th:href="@{'/artistdetails/'+${prev}}">&lt;</a>
            </div>
            <div class="nextButtonDiv" th:if="${artist}">
                <a class="buttonLook prevnextButton" th:href="@{'/artistdetails/'+${next}}">&gt;</a>


            </div>
            <h2 th:if="${artist}" th:text="|artist: ${artist.getArtistName()}|">Artist: onbekend</h2>
            <h2 th:unless="${artist}">Artist: Onbekend!</h2>

            <div  th:if="${artist}">
                <div class="info">Info: </div>
                <div><a th:href="${artist.getLinkMoreInfo()}">Klik hier voor info</a></div>
            </div>

            <div  th:if="${artist}">
                <div class="info">Bio: </div>
                <div><a  th:text="${artist.getBio()}"></a></div>
            </div>

            <div  th:if="${artist}">
                <div class="info">Genre: </div>
                <div><a th:text="${artist.getGenre()}">Genre: </a></div>
            </div>

        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: footer">Hier komt de footer</div>

</html>