<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/css/party.css" />
<head>
    <meta charset="UTF-8">
    <title>Homepagina</title>
</head>
<body>
<div>
    <div class="nav">
        <h1>Let's Party!</h1>
        <div class="navbuttons">
            <a href="/home">home</a>
            <a href="/venuelist">venue</a>
            <a href="/about">about</a>
        </div>
    </div>
    <div class="home">
        <h1>Home pagina</h1>
        <p th:text="${mijnSpeciaalNummer}">onbekend nummer</p>
    </div>
    <div class="footer">
        <p>copyright ThomasMore</p>
    </div>
</div>
</body>
</html>