<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/css/party.css"/>
<head>
    <meta charset="UTF-8">
    <title>venuelist</title>
</head>
<body>
<div th:replace="fragments/headerfooter :: header">Hier komt de header</div>
<div>
    <div class="row1">
        <div class="row1content">
            <h1>Venues</h1>

            <span class="flex-box activeFilter" th:text="|${nrVenues} venues found|"></span>

            <div class="filters" th:if="${showFilter}">
                <form>
                    <div class="onefilter">
                        <input type="submit" value="search" class="buttonLook">
                    </div>
                    <h3>capacity</h3>
                    <div class="onefilter">
                        <label for="minCapacity" class="filtername">min</label>
                        <input type="number" id="minCapacity" name="minimumCapacity" th:value="${minimumCapacity}" step="50" min="0"><span>persons</span>
                        <br>

                    </div>
                    <div class="onefilter">
                        <label for="maxCapacity" class="filtername">max</label>
                        <input type="number" id="maxCapacity" name="maximumCapacity" th:value="${maximumCapacity}" step="50" min="0"><span>persons</span>
                    </div>

                    <h3>distance to public transport</h3>
                    <div class="onefilter">
                        <label for="transportKm" class="filtername">max</label>
                        <input type="number" id="transportKm" name="distance" th:value="${transportKm}" step="1" min="0"><span>km</span>
                    </div>

                    <h3>Food provided</h3>
                    <div class="onefilter">
                        <label class="food">yes</label>
                        <input type="radio" id="food" name="food" th:checked="${food}=='yes'" value="yes"><span></span>
                        <label class="food1">no</label>
                        <input type="radio" id="food1" name="food" th:checked="${food}=='no'" value="no"><span></span>
                        <label class="food2">all</label>
                        <input type="radio" id="food2" name="food"  th:checked="${food}=='all'" value="all"><span></span>
                    </div>

                    <h3>Indoor</h3>
                    <div class="onefilter">
                        <label class="indoor">yes</label>
                        <input type="radio" id="indoor" name="indoor" th:checked="${indoor}=='yes'" value="yes"><span></span>
                        <label class="food1">no</label>
                        <input type="radio" id="indoor1" name="indoor" th:checked="${indoor}=='no'" value="no"><span></span>
                        <label class="food2">all</label>
                        <input type="radio" id="indoor2" name="indoor"  th:checked="${indoor}=='all'" value="all"><span></span>
                    </div>

                    <h3>Outdoor</h3>
                    <div class="onefilter">
                        <label class="indoor">yes</label>
                        <input type="radio" id="outdoor" name="outdoor" th:checked="${outdoor}=='yes'" value="yes"><span></span>
                        <label class="food1">no</label>
                        <input type="radio" id="outdoor1" name="outdoor" th:checked="${outdoor}=='no'" value="no"><span></span>
                        <label class="food2">all</label>
                        <input type="radio" id="outdoor2" name="outdoor"  th:checked="${outdoor}=='all'" value="all"><span></span>
                    </div>
                </form>
            </div>
            <div class="filters" th:if="${showFilter}">
                <div class="verticalmargin">
                    <a th:href="@{/venuelist}" class="buttonLook filterButton">-</a>
                </div>
            </div>
            <div class="filters" th:unless="${showFilter}">
                <div class="verticalmargin">
                    <a th:href="@{/venuelist/filter}" class="buttonLook filterButton">+</a>
                </div>
            </div>
            <div th:each="venue, status: ${venues}">
                <a class="buttonLook mediumButton" th:href="@{'/venuedetails/' + ${venue.id}}">
                    <span th:text="${venue.getVenueName()}">Naam venue</span>
                    <br>
                    <span class="flex-box activeFilter" th:text="|${venue.getCapacity()} Capacity|"> </span>
                </a>

            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/headerfooter :: footer">Hier komt de footer</div>
</body>
</html>