<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/css/party.css" />
<head>
    <meta charset="UTF-8">
    <title>venuedetails</title>
</head>
<body>
<div th:replace="fragments/headerfooter :: header">Hier komt de header</div>
<div>
    <div class="row1">
        <div class="row1content">
            <div th:if="${prev!=null}" class="prevButtonDiv">
                <a class="buttonLook smallButton" th:href="@{'/venuedetails/' + ${prev}}">&lt;</a>
            </div>
            <div th:if="${venue}">
                <h2 th:text="|venue: ${venue.venueName}|">venue: onbekend</h2>
                <p><span class="fixwidth200">Info:</span>a th:href="@{${venue.linkMoreInfo}}">meer info</spana></p>
                <p><span class="fixwidth200">Capacity:</span><span th:text="${venue.capacity}"></span></p>
                <p><span class="fixwidth200">Food provided?</span><span th:text="${venue.indoor}"></span></p>
                <p><span class="fixwidth200">Indoor?</span><span th:text="${venue.outdoor}"></span></p>
                <p><span class="fixwidth200">Outdoor?</span><span th:text="${venue.freeParkingAvailable}"></span></p>
                <p><span class="fixwidth200">Free parking?</span><span th:text="${venue.city}"></span></p>
                <p><span class="fixwidth200">City:</span><span th:text="${venue.capacity}"></span></p>
                <p><span class="fixwidth200">Distance public transport:</span><span th:text="${venue.distanceFromPublicTransportInKm}"></span></p>
            </div>
            <p th:unless="${venue.venueName}">-- geen venue gespecificeerd --</p>
            <div th:if="${next!=null}" class="nextButtonDiv">
                <a class="buttonLook smallButton" th:href="@{'/venuedetails/' + ${next}}">&gt;</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/headerfooter :: footer">Hier komt de footer</div>
</body>
</html>