<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/css/party.css" />
<head>
    <meta charset="UTF-8">
    <title>venuelist</title>
</head>
<body>
<div>
    <div class="nav">
        <h1>Let's Party!</h1>
        <div class="navbuttons">
            <a href="/home">home</a>
            <a href="/about">about</a>
        </div>
    </div>
    <div class="row1">
        <div class="row1content">
            <h1>Venues</h1>
            <a th:href="@{/venuedetails/club}">De Club</a>
            <a th:href="@{/venuedetails/loots}">De Loots</a>
            <a th:href="@{/venuedetails/zapol}">Zapol</a>
            <a th:href="@{/venuedetails/nekkerhal}">Nekkerhal</a>
        </div>
    </div>
</div>
</body>
</html>