<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css" />
<body>
<div>
    <div class="nav">
        <h1>Let's Party!</h1>
        <div th:replace="fragments/header :: header">Hier komt de header</div>
    </div>
    <div class="freespaceforheader"></div>

    <div class="row1">
        <div class="row1content">
            <div class="prevButtonDiv">
                <a class="buttonLook prevnextButton" th:href="@{'/venuedetailsbyindex/'+${prev}}">&lt;</a>
            </div>
            <div class="nextButtonDiv">
                <a class="buttonLook prevnextButton" th:href="@{'/venuedetailsbyindex/'+${next}}">&gt;</a>

            </div>
            <h2 th:if="${venuename}" th:text="|venue: ${venuename}|">venue: Onbekend</h2>
            <h2 th:unless="${venuename}">venue: Onbekend</h2>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: footer">Hier komt de footer</div>

</html>