<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css" />
<body>
<div>
    <div class="nav">
        <h1>Let's Party!</h1>
        <div th:replace="fragments/header :: header">Hier komt de header</div>
    </div>
    <div class="freespaceforheader"></div>



    <div class="row1">
        <div class="row1content" >
            <div class="prevButtonDiv" th:if="${venue}" >
                <a class="buttonLook prevnextButton" th:href="@{'/venuedetails/'+${prev}}">&lt;</a>
            </div>
            <div class="nextButtonDiv" th:if="${venue}">
                <a class="buttonLook prevnextButton" th:href="@{'/venuedetails/'+${next}}">&gt;</a>
            </div>
            <h2 th:if="${venue}" th:text="|venue: ${venue.getVenueName()}|">venue: onbekend</h2>
            <h2 th:unless="${venue}">Venue: Onbekend!</h2>

                <div  th:if="${venue}">
                    <div class="info">info: </div>
                    <div><a th:href="${venue.getLinkMoreInfo()}">Klik hier voor info</a></div>
                </div>
            <div  th:if="${venue}">
                <div class="info">capacity: </div>
                <div><a th:text="${venue.getCapacity()}"></a></div>
            </div>
            <div  th:if="${venue}">
            <div class="info">indoor: </div>
            <div><a th:text="${venue.isIndoor()}"></a></div>
        </div>
            <div  th:if="${venue}">
                <div class="info">City: </div>
                <div><a th:text="${venue.getCity()}"></a></div>
            </div>

        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: footer">Hier komt de footer</div>

</html>