<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/css/party.css" />
<head>
    <meta charset="UTF-8">
    <title>venuelist</title>
</head>
<body>
<div th:replace="fragments/headerfooter :: header">Hier komt de header</div>
<div>
    <div class="row1">
        <div class="row1content">
            <h1>Venues</h1>

                    <span class="flex-box activeFilter" th:text="|${nrVenues} venues found|"></span>

            <div class="filters" th:if="${showFilter}">
                <div class="verticalmargin">
                    <a th:href="@{/venuelist}" class="buttonLook filterButton">-</a>
                </div>
                <p>hier komt de filter</p>
            </div>
                <div class="filters" th:unless="${showFilter}">
                <div class="verticalmargin">
                    <a th:href="@{/venuelist/filter}" class="buttonLook filterButton">+</a>
                </div>
            </div>
            <div th:each="venue, status: ${venues}">
                <a class="buttonLook mediumButton" th:href="@{'/venuedetails/' + ${venue.id}}">
                    <span th:text="${venue.getVenueName()}">Naam venue</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/headerfooter :: footer">Hier komt de footer</div>
</body>
</html>